@use './globals' as *;

// post系のcss single.scss
.archive{
    &.post__title{
        font-size: 16px;
        font-weight: bold;
        @include mq(){
            font-size: 20px;
        }
    }
    &.post__date{
        margin: 10px 0;
        font-size: 12px;
        @include mq(){
            font-size: 16px;
        }
    }
    &.post__txt{
        font-size: 14px;
        margin-bottom: 20px;
        @include mq(){
            font-size: 18px;
        }
    }

}
.news-page{
    .news-page__title{
        font-size: 24px;
        margin: 25px 0;
        font-weight: bold;
        @include mq(){
            margin: 60px 0;
            font-size: 32px;

        }
    }
    & img{
        margin-bottom: 20px;
    }
    & p{
        margin-bottom: 10px;
    }
    .news-page__item{
        margin-bottom: 50px;
    }
}


.news-page__list{
    .news-page__item > a{
        @include mq(){
            display: flex;
            gap:80px;
            height: 250px;

        }


        .size-post-thumbnail{
            height: 200px;
            width: 335px;
            @include mq(){
                height: 250px;
                width: 400px;
            }

        }
        .news-page__item--txt{
            @include mq(){
                width: 100%;
                padding: 2rem 0;
            }
        }
    }
}


// /*==================================================
// ナビゲーション
// ===================================*/



nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    @include mq(){
        margin-bottom: 50px;
    }
  }

.pagination{
    @include mq(){
        margin-top:20px;

    }
 }
 .nav-links{
    display:flex;
 }
 .pagination .page-numbers{
    margin-right:20px;
    border: 1px solid #000;
    color:#333;
    background:#fff;
    width: 40px;
    height: 40px;
    display: grid;
        place-items: center;
    &.next,&.prev{
        display: none;
    }
     @include mq(){
        width: 40px;
        height: 40px;
     }
 }
 .pagination .current{
    color:black;
    background: #839CF2;
 }

 .pagination .dots{
    background:transparent;
    box-shadow:none;
    border: 0px solid #000;
 }

