@use "./globals" as *;

/* hero
 ==========================================================================================*/

.hero {
  background: url(../../img/FV-img.png) no-repeat center / 100vw 100%;
  margin-bottom: -20px;
  @include mq() {
    margin-bottom: 0px;
  }
  .hero__txt {
    padding: 5.7rem 0 11rem;
    @include mq() {
      padding: 5.7rem 0;
    }
    .hero__txt--left {
      margin: 7.5rem 0 2rem;
      font-size: 40px;
      text-align: left;
      color: white;
      @include mq() {
        font-size: 60px;
        margin: 6.5rem 0 2rem;
      }
    }
    .hero__txt--right {
      color: rgba($color: #fff, $alpha: 0.5);
      text-align: center;
      text-wrap: wrap;
      font-size: 36px;
      letter-spacing: 10px;
      @include mq() {
        text-align: right;
        font-size: 6.5rem;
        padding-bottom: 2rem;
      }
    }
  }

  .hero__txt--left--btn {
    display: inline-block;
    background: $cMain;
    color: white;
    border-radius: 4rem;
    padding: 10px 30px;
    font-size: 24px;
    margin: 26px 0 7rem;
    @include mq() {
      padding: 5px 43px;
      font-size: 36px;
      margin: 0;
    }
  }
}

.front-page {
  .sec-title {
    text-align: center;
    font-size: 30px;
    position: relative;
    margin-bottom: 16px;
    font-weight: bold;
    padding: 2.7rem;
    &::before {
      content: "";
      position: absolute;
      top: 70%;
      left: 50%;
      width: 55px;
      height: 3px;
      transform: translateX(-50%);
      background: $cBlack;
    }
    @include mq() {
      font-size: 48px;
      margin-bottom: 0px;
    }
  }
}

/* section common
 ==========================================================================================*/
section {
  @include mq() {
    margin: 15px 0;
  }
}
.l-wrapper.sec-container {
  @include mq() {
    display: flex;
    gap: 10%;
    padding: 2.5rem 2rem 4rem;
    margin-bottom: 40px;
  }
  .sec-container__txt {
    @include mq() {
      width: 40%;
    }
  }
  .sec-container__img {
    margin-bottom: 40px;
    @include mq() {
      width: 50%;
      margin-bottom: 0px;
    }
    & img {
      height: 250px;
      width: 335px;
      @include mq() {
        height: 354px;
        width: 550px;
      }
    }
  }

  .sec-container__txt {
    .sec-container__txt--head {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 1px;
      @include mq() {
        font-size: 24px;
      }
    }
    .sec-container__txt--foot {
      margin-bottom: 20px;
      @include mq() {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    .sec-container__txt--btn {
      display: inline-block;
      background: $cMain;
      color: white;
      padding: 0.5rem 1rem;
      margin-bottom: 50px;
      @include mq() {
        font-size: 20px;
        margin-bottom: 0px;
      }
    }
  }
}
/* about
 ==========================================================================================*/
.about {
  .sec-container {
    flex-direction: row-reverse;
    .sec-container__txt--head{
      margin: 50px 0 30px;
    }
  }
}

/* service
 ==========================================================================================*/
.service {
  background: #bfdbf4;
  .sec-title{
    margin-top: -10px;
  }
  .sec-container__txt--head{
    margin: 30px 0;
  }
}

/* news
 ==========================================================================================*/
.news {
  margin-bottom: 30px;
  @include mq() {
    margin-bottom: 120px;
  }
}
.news__list {
  max-width: 780px;
  margin: 0px auto;
  font-size: 16px;
  @include mq() {
    margin: 50px auto 50px;
    font-size: 20px;
  }
}
.news__item {
  border-bottom: 1px solid #000;
  margin-bottom: 35px;
  padding: 5px;
  & a {
    @include mq() {
      display: flex;
      gap: 4%;
    }
  }
}

.news-btn {
  display: grid;
  place-items: center;
  background: $cMain;
  color: white;
  // padding: 0.5rem 1.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  width: 152px;
  height: 47px;
  @include mq(){
    width: 180px;
    font-size: 20px;
    height: 53px;

  }
}

/* contact
 ==========================================================================================*/
// contact-pats.scss参照
