@use './globals' as *;

/* hero
 ==========================================================================================*/

.hero{
    background: url(../../../img/AdobeStock_463369910.png)  no-repeat center / auto;
    .hero__txt{
        padding: 10rem 0;
        .hero__txt_left{
            line-height: 2;
            font-size: 40px;
            text-align: left;
            color: white;
            margin-bottom: 8rem;
            @include mq(){
                font-size: 60px;
            }
        }
        .hero__txt_right{
            color: rgba($color: #fff, $alpha: .5);
            text-align: center;
            text-wrap: wrap;
            font-size: 36px;
            @include mq(){
                text-align: right;
                font-size: 6.5rem;

            }
        }
    }

    .btn-contact{
        display: inline-block;
        background: $cMain;
        color: white;
        border-radius: 4rem;
        padding: 14px 39px;
        margin-top: 5rem;
        font-size: 24px;
        }
        @include mq(){
            font-size: 36px;
        }
    }

.hero, section{
    margin-bottom: 30px;
    @include mq(){
        margin-bottom: 62px;
    }
}
section{
    line-height: 1.7;
}
.sec-title{
    text-align: center;
    font-size: 30px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 55px;
        height: 3px;
        transform: translateX(-50%);
        background: $cBlack;
    }
}
.s-container{
    @include mq(){
        display: flex;
        gap: 10%;
    }
    .s-txt,.s-img{
        @include mq(){
            width: 50%;
            margin-top: 50px;
        }
    }
    .s-img{
        margin-bottom: 40px;
    }

    .s-txt{
        & :nth-child(1){
            font-weight: bold;
            margin-bottom: 20px;
        }
        & :nth-child(2){
            margin-bottom: 30px;
        }
        & :nth-child(3){
            display: inline-block;
            background: $cMain;
            color: white;
            padding: 1rem 2rem;
        }
    }
}
/* about
 ==========================================================================================*/
.about{
    line-height: 1.7;
    .s-container{
        flex-direction: row-reverse;
    }
    .s-img{
        padding-top: 3rem;
        @include mq(){
            padding-top: 0rem;

        }
    }
}

/* service
 ==========================================================================================*/
.service{
    background: #BFDBF4;
    .s-txt{
        padding: 1rem;

    }
}


/* news
 ==========================================================================================*/
.news__list{
    max-width: 600px;
    margin: 40px auto 0 ;
}
.news__item{
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    padding: 5px;
    & a{
        @include mq(){
        display: flex;
        gap: 4%;
        }
    }
}

.news-btn{
    display: inline-block;
    background: $cMain;
    color: white;
    padding: 1rem 2.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}



/* contact
 ==========================================================================================*/
// contact-pats.scss参照
