@use 'globals' as *;
.page-title{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    padding: 2rem;
    color: $cWhite;
    font-size: 32px;
    background: url(../../img/AdobeStock_463369910.png) no-repeat center / 100vw;
    @include mq(){
        height: 240px;
        font-size: 48px;

    }
}
