@use "./globals" as *;

.sec-title {
  font-size: 24px;
  padding: 30px;
  margin-bottom: 10px;
  @include mq() {
    font-size: 32px;
    padding: 3rem;
  }
}

// cando
// =======================================
.cado-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
.cando__list {
  .cando__item {
    margin-bottom: 30px;
    @include mq(l2) {
      position: relative;
      margin-bottom: 120px;
      height: 500px;
      &:nth-child(1) {
        flex-direction: row-reverse;
      }
      &:nth-child(3) {
        flex-direction: row-reverse;
      }
    }
  }
  .cando__txt {
    background: rgba(#7ab2f4, 0.5);
    padding: 1rem;
    @include mq(l2) {
      height: 100%;
      width: 100%;
      padding-left: 50%;
      margin-top: 140px;
      & br {
        display: none;
      }
    }

    .cando__txt--head {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: bold;
      @include mq(l2) {
        font-size: 24px;
        margin-top: 140px;
      }
    }
    .cando__txt--foot {
      margin-bottom: 60px;
      font-size: 16px;
      @include mq(l2) {
        font-size: 20px;
      }
    }
  }
  .cando__txt--left {
    @extend .cando__txt;
    @include mq(l2){
      padding-right: 50%;
      padding-left: 2rem;

    }
  }
  .cando__img {
    width: 60%;
    margin-top: -60px;
    z-index: 2;
    & img {
      @include mq(l2) {
        width: 424px;
        height: 492px;
        position: absolute;
        bottom: 60px;
        left: -60px;
      }
    }
  }
  .cando__img--right {
    width: 60%;
    margin-top: -60px;
    z-index: 2;
    margin-left: auto;
    & img {
      @include mq(l2) {
        width: 424px;
        height: 492px;
        position: absolute;
        bottom: 60px;
        right: -60px;
      }
    }
  }
}
// reason
// =======================================

.reason {
  padding-top: 25px;
  background: rgba($color: #bfdbf4, $alpha: 0.3);
  @include mq() {
    padding-top: 0;
    padding-bottom: 80px;
  }
  .reason__list {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 960px;
    @include mq() {
      max-width: 1240px;
      display: flex;
      gap: 4%;
    }
    .reason__item {
      margin-bottom: 80px;
      text-align: center;
      @include mq() {
        width: 30%;
      }
      .reason__img {
        margin-bottom: 30px;
        img {
          width: 300px;
          height: 300px;
          border-radius: 50%;
        }
      }
      .reason__txt--head {
        text-align: center;
        margin-bottom: 30px;
        font-weight: bold;
        letter-spacing: 1.5;
        line-height: 1;
        font-size: 18px;
        @include mq() {
          font-size: 20px;
        }
      }
      .reason__txt--foot {
        letter-spacing: -1px;
        font-size: 16px;
        text-align: left;
        width: 300px;
        margin: 0 auto;
      }
    }
  }
}
// /*==================================================
// スライダーのためのcss
// ===================================*/

.case {
  margin-bottom: 120px;
}

.slick-dots {
  bottom: -45px !important;
  li button {
    display: block;
    width: 10px !important;
    height: 10px !important;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: gray !important;
    border-radius: 50%;
  }
  .slick-active button {
    background: black !important;
  }
}

.slick-slide {
  height: 200px;
  margin-right: 50px;
  @include mq(){
    height:400px;
  }
  & img {
    width: 300px;
    height: 100%;
    @include mq(){
      width: 600px;
      height: 100%;
    }
  }
}


.slider__item--name {
  text-align: center;
  font-size: 24px;
  margin: 30px 0 30px;
  display: none;
}

.slider {
  position: relative;
  .slick-arrow {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 100%;
    left: 50%;
    z-index: 999;
    &.slick-prev {
      background: url(../../img/slide-arrow.png) no-repeat 100% 100%;
      transform: translate(-300%, 40%);
    }
    &.slick-next {
      background: url(../../img/swiper-btn-next.png) no-repeat 100% 100%;
      transform: translate(200%, 40%);
    }
  }
}
