@use "./globals" as *;

.cando,
.reason,
.case {
  & h4 {
    font-size: 20px;
  }
  & p {
    font-size: 16px;
  }
}
.sec-title {
  font-size: 24px;
  padding: 3rem;
}

// cando
// =======================================
.cado-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
.cando-list {
  .cando-item {
    margin-bottom: 30px;
    @include mq(l2) {
      position: relative;
      margin-bottom: 120px;
      height: 500px;
      &:nth-child(1) {
        flex-direction: row-reverse;
      }
      &:nth-child(3) {
        flex-direction: row-reverse;
      }
    }
  }
  .cando__txt {
    background: lightblue;
    padding: 2rem 2rem 60px;
    @include mq(l2) {
      height: 100%;
      width: 100%;
      padding-left: 50%;
      margin-top: 140px;
      & br {
        display: none;
      }
    }
    .cando__txt-head {
      margin-bottom: 20px;
      @include mq(l2) {
        margin-top: 140px;
      }
    }
    .cando__txt-txt {
      margin-bottom: 20px;
    }
  }
  .cando__txt-left {
    background: lightblue;
    padding: 2rem 2rem 60px;
    @include mq(l2) {
      height: 100%;
      width: 100%;
      padding-right: 50%;
      margin-top: 140px;
      & br {
        display: none;
      }
    }
    .cando__txt-head {
      margin-bottom: 20px;
      @include mq(l2) {
        margin-top: 140px;
      }
    }
    .cando__txt-txt {
      margin-bottom: 20px;
    }
  }
  .cando__img {
    width: 60%;
    margin-top: -60px;
    z-index: 2;
    & img {
      @include mq(l2) {
        width: 424px;
        height: 492px;
        position: absolute;
        bottom: 60px;
        left: -60px;
      }
    }
  }
  .cando__img_right {
    width: 60%;
    margin-top: -60px;
    z-index: 2;
    margin-left: auto;
    & img {
      @include mq(l2) {
        width: 424px;
        height: 492px;
        position: absolute;
        bottom: 60px;
        right: -60px;
      }
    }
  }
}
// reason
// =======================================

.reason {
  background: rgba($color: #bfdbf4, $alpha: 0.3);
  .reason-list {
    margin: 0 auto;
    padding: 1rem;
    max-width: 980px;
    @include mq() {
      display: flex;
      gap: 4%;
    }
    .reason__item {
      margin-bottom: 30px;
      text-align: center;
      & img {
        border-radius: 50%;
        margin-bottom: 30px;
        width: 250px;
        height: 250px;
      }
      & h4 {
        text-align: center;
        margin-bottom: 30px;
      }
      & p {
        text-align: left;
      }
    }
  }
}
// /*==================================================
// スライダーのためのcss
// ===================================*/

.case{
  margin-bottom: 120px;

}
.slider{
  position: relative;
  .slick-arrow{
    cursor: pointer; /*マウスカーソルを指マークに*/
    position: absolute;
    width: 40px;
    height: 40px;
    top: 104%;
    z-index: 999;
    &.slick-prev{
      left: 42%;
      background: url(../../img/slide-arrow.png) no-repeat 100% 100%;
    }
    &.slick-next{
      left: 56%;
      background: url(../../img/swiper-btn-next.png) no-repeat 100% 100%;
    }
  }

}

.slick-dots li button {
  display: block;
  width: 10px !important;
  height: 10px !important;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: gray !important;
  border-radius: 50%;
}
.slick-dots .slick-active button {
  background: black !important;
}

.slick-slide.slick-center {
  transform: scale(1);
  .slider-item__company-name {
    display: block !important;
  }
}
.slick-slide {
  transform: scale(0.5);
  transition: all 0.3s;
}

.slider-item__company-name {
  text-align: center;
  font-size: 24px;
  margin: 30px 0 30px;
  display: none;
}
