@use './globals' as *;

.cando, .reason, .case{

    & h4{
        font-size: 20px;
    }
    & p{
        font-size: 16px;
    }
}
.sec-title{
    font-size: 24px;
    padding: 3rem;
}

// cando
// =======================================
.cado-wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
.cando-list{
    .cando-item{
        margin-bottom: 30px;
        @include mq(l2){
            position: relative;
            margin-bottom: 120px;
            height: 500px;
            &:nth-child(1){
                flex-direction: row-reverse;
            }
            &:nth-child(3){
                flex-direction: row-reverse;
            }
        }
    }
    .cando__txt{
        background: lightblue;
        padding: 2rem 2rem 60px;
        @include mq(l2){
            height: 100%;
            width: 100%;
            padding-left: 50%;
            margin-top: 140px;
           & br{
            display: none;
           }
        }
        .cando__txt-head{
            margin-bottom: 20px;
            @include mq(l2){
                margin-top: 140px;
            }
        }
        .cando__txt-txt{
            margin-bottom: 20px;
        }
    }
    .cando__txt-left{
        background: lightblue;
        padding: 2rem 2rem 60px;
        @include mq(l2){
            height: 100%;
            width: 100%;
            padding-right: 50%;
            margin-top: 140px;
           & br{
            display: none;
           }
        }
        .cando__txt-head{
            margin-bottom: 20px;
            @include mq(l2){
                margin-top: 140px;
            }
        }
        .cando__txt-txt{
            margin-bottom: 20px;
        }
    }
    .cando__img{
        width: 60%;
        margin-top: -60px;
        z-index: 2;
        & img{
            @include mq(l2){
                width: 424px;
                height: 492px;
                position: absolute;
                bottom: 60px;
                left: -60px;
            }
        }
    }
    .cando__img_right{
        width: 60%;
        margin-top: -60px;
        z-index: 2;
        margin-left: auto;
        & img{
            @include mq(l2){
                width: 424px;
                height: 492px;
                position: absolute;
                bottom: 60px;
                right: -60px;
            }
        }
    }
}
// reason
// =======================================

.reason{
    background: rgba($color: #BFDBF4, $alpha: .3);
    .reason-list{
        margin: 0 auto;
        padding: 1rem;
        max-width: 980px;
        @include mq(){
            display: flex;
            gap: 4%;
        }
        .reason__item{
            margin-bottom: 30px;
            text-align: center;
            & img{
                border-radius: 50%;
                margin-bottom: 30px;
                width: 250px;
                height: 250px;
            }
            & h4{
                text-align: center;
                margin-bottom: 30px;

            }
            & p{
                text-align: left;
            }
        }
    }

}

// swiper
// =======================================
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination{
    position: relative;
  }

  .swiper-button-next, .swiper-button-prev{
    position: absolute;
    bottom: var(--swiper-pagination-bottom, 8px) ;
    top: var(--swiper-pagination-top, auto) ;
    left: 0;
    width: 300px;
  }

  .swiper-button-next.s-next-btn::after,.swiper-button-prev.s-prev-btn::after{
    content: "";
    width: 30px;
    height: 30px;
    color: black;
    background: url(../../../img/swiper-btn-next.png) no-repeat center center/ contain;
  }

  .swiper{
    position: relative;
  }
  .swiper-btn-container{
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
