@use "./globals" as *;

.detail-page {
  max-width: 830px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 140px;
  .size-post-thumbnail {
    height: 200px;
    width: 100%;
    @include mq() {
      height: 330px;
    }
  }
}

.detail-page__post-date {
  margin: 20px 0;
  font-size: 14px;
  @include mq() {
    font-size: 20px;
  }
}

.detail-page__post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  @include mq() {
    margin-bottom: 10px;
    font-size: 28px;
  }
}

.detail__post--txt {
  & p{
    font-size: 14px;
    @include mq() {
      font-size: 16px;
    }
    &:nth-child(1) {
      margin-top: 20px;
      font-size: 20px;
    }
  }

  .wp-block-heading {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-left: 5px solid #000;
    padding-left: 1rem;
    margin-top: 40px;
    @include mq() {
      font-size: 28px;
      &:nth-of-type(1) {
        margin-top: 50px;
      }
    }
  }
}

.detail-page__post-btn--back {
  margin: 40px auto 50px;
  width: 166px;
  height: 46px;
  background: #839cf2;
  font-size: 18px;
  display: grid;
  place-items: center;
  @include mq() {
      margin: 70px auto 100px;
      font-size: 24px;
      width: 230px;
  height: 70px;
  }
}
