@use "globals" as *;
.header {
  display: flex;
  z-index: 3;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: rgba($color: $cWhite, $alpha: 0.8);
  height: 60px;
  gap: 25%;
  top: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  @include mq() {
    gap: 12%;
    height: 80px;
  }
  .header__logo a {
    display: flex;
    gap: 5px;
    letter-spacing: 3px;
    .header__logo--img{
      width: 24px;
      height: 36px;
      @include mq(){
        width: 30.64px;
        height: 47.25px;
      }
    }
    .header__logo--txt {
      font-size: 16px;
      @include mq(){
        font-size: 21.08px;
        font-weight: bold;
      }
    }
  }
  .header-list {
    display: none;
  }
  @include mq() {
    .menu {
      display: none;
    }
    .header-list {
      display: flex;
      align-items: center;
      gap: 42px;
      & :nth-child(4) {
        background: $cMain;
        color: white;
        border-radius: 2rem;
        padding: 0.9rem 2.5rem;
      }
    }
  }
}
